version: '3.8'
services:
  redis:
    image: redis
    container_name: redis
    ports:
      - '6379:6379'
    networks:
      - my-network

  postgres:
    image: postgres
    container_name: postgres
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    networks:
      - my-network
    volumes:
      - postgres-data:/var/lib/postgresql/data

  app:
    image: agrofount-backend
    container_name: agrofount-backend-app
    environment:
      REDIS_HOST: redis
      REDIS_PORT: 6379
      REDIS_URL: redis://redis:6379
      DB_HOST: postgres
      DB_PORT: 5432
      DB_USERNAME: ${DB_USERNAME}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_SYNCHRONIZE: true
      DB_SCHEMA: public
      DB_NAME: ${DB_NAME}
      JWT_SECRET: ${JWT_SECRET}
      JWT_EXPIRATION: 3600
      SENDGRID_API_KEY: ${SENDGRID_API_KEY}
      SENDGRID_FROM_EMAIL: agrofount@yopmail.com
      SEND_IN_BLUE_API_KEY: ${SEND_IN_BLUE_API_KEY}
      SEND_IN_BLUE_FROM_EMAIL: ${SEND_IN_BLUE_FROM_EMAIL}
      FRONTEND_URL: localhost:5174
      ADMIN_FRONTEND_URL: localhost:5175
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}
      AWS_S3_REGION: us-east-1
      AWS_BUCKET_NAME: ${AWS_BUCKET_NAME}
      PAYSTACK_SECRET_KEY: ${PAYSTACK_SECRET_KEY}
      PAYSTACK_PUBLIC_KEY: ${PAYSTACK_PUBLIC_KEY}
      PAYSTACK_URL: https://api.paystack.co
    ports:
      - '3000:3000'
    depends_on:
      - redis
      - postgres
    networks:
      - my-network

networks:
  my-network:
    driver: bridge

volumes:
  postgres-data:
# version: '3.8'
# services:
#   dynamodb-local:
#     command: '-jar DynamoDBLocal.jar -sharedDb -dbPath ./data'
#     image: 'amazon/dynamodb-local:latest'
#     container_name: dynamodb-local
#     ports:
#       - '8000:8000'
#     volumes:
#       - './docker/dynamodb:/home/dynamodblocal/data'
#     working_dir: /home/dynamodblocal
#   app-node:
#     depends_on:
#       - dynamodb-local
#     image: amazon/aws-cli
#     container_name: app-node
#     ports:
#       - '8080:8080'
#     environment:
#       AWS_ACCESS_KEY_ID: 'DUMMYIDEXAMPLE'
#       AWS_SECRET_ACCESS_KEY: 'DUMMYEXAMPLEKEY'
#     command: dynamodb describe-limits --endpoint-url http://dynamodb-local:8000 --region us-west-2
